/*base*/
.page-margins {
  margin: 2.5% 5% -2.5% 5%;
  height: 100vh;
}

.page-body {
  min-height: 100vh !important;
}

body {
  background: url('../images/debut_light.png');
}

/*login*/
.login-copy-div {
  padding: 2.5% 5% 2.5% 5%;
}
.playfair {
  font-family: 'Playfair Display', serif;
}

.login-copy {
  padding: 2.5% 0% 2.5% 5%;
  line-height: 25px; 
}

.helptext {
  color: #444;
  font-size: 75%;
}

/* article page */
.article-pdf {
  margin: -3.3% 0% 0% -5.5%;
  height: 100%;
}

.article-page {
  height: 100%;
}

.article-pdf embed {
  height: 100vh;
}

.article-sidebar {
  margin-left: -0.5%;
  margin-top: -3.3%;
  padding-right: 0;
}

.review-nav {
  right: 0px;
  position: absolute;
  top: 75%;
}

/* review page */
.review-sidebar {
  margin-top: -3.3%;
  margin-left: 3%;
}

/* Dashboard */
.article-box {
  border: 1px solid #888888;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.gradient {
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 60%, rgba(0,0,0,0.7) 100%);
}

.article-box .gradient h4{
  margin: 0.5em;
  color: #FFFFFF;
  z-index: 900;
  position: absolute;
  bottom: 0;
}

.my-articles {
  padding-left: 5%;
}
