<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...hello world!</h1>

        {% if articles %}
            <ul>
                {% for article in articles %}
                <li>{{ article.title }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no articles present.</strong>
        {% endif %}
        <a href="/article/about/">About</a><br />
        <!--
        <img src="{% static "images/alpine.jpg" %}" alt="Alpine" />
        -->
    </body>

</html>