<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Dashboard</title>
    </head>

    <body>
        <h1>Dashboard</h1>
        {% if articles %}
            <ul>
                {% for article in articles %}
                <li><a href="{{article.slug}}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no articles present.</strong>
        {% endif %}
        <a href="/article/about/">About</a><br />
        
        <!--
        <img src="{% static "images/alpine.jpg" %}" alt="Alpine" /> -->
    </body>

</html>