{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block body_block %}
        <h1>Dashboard</h1>

        {% if user.is_authenticated %}
        <h4>hello {{ user.username }}!</h4>
        {% else %}
         <a href="/article/login/"><h4>Please login</h4></a>
        {% endif %}
        
        {% if articles %}
            <ul>
                {% for article in articles %}
                <li><a href="{{article.slug}}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no articles present.</strong>
        {% endif %}
{% endblock %}