{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block body_block %}
  <div class="row">
    <div class="col-6">
      <h1>Login</h1>
      <form id="login_form" method="post" action="/article/login/">
        {% csrf_token %}
        {{ login_form.as_p }}
        <label for="user">Username</label>
           <input type="text" name="username" id="user" value="" placeholder="Enter username here" />
           <br />
        <label for="pass">Password</label>
           <input type="password" name="password" id="pass" value="" placeholder="Enter password here" />
           <br />
        <input type="submit" value="Log-In" />
      </form>  
    </div>
    
    <div class="col-6 login-copy-div">
      <h2 class="playfair text-right">Hello there!</h2>
      <h5 class="text-right login-copy">
        If you would like to try without creating an account, you may use these trial accounts:
        <br>
        <blockquote class="text-center">
        User: MFAtiyah
        <br>
        Pass: atiyah
        </blockquote>
        <blockquote class="text-center">
        User: jcooley
        <br>
        Pass: cooley
        </blockquote>
      </h5>
    </div>
    
  </div>

{% endblock %}