{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block body_block %}
  <div class="row">
    <div class="col-6">
      {% if registered %}
        <strong>Thank you for registering.</strong>
        <a href="/article/">Return to the homepage.</a>
      {% else %}
      <h1>Register</h1>
      <form id="user_form" method="post" action="/article/register/">
        {% csrf_token %}
        {{ user_form.as_p }}
        <input type="submit" value="Register" />
      </form>  
    </div>
    {% endif %}
    
    <div class="col-6 login-copy-div">
      <h2 class="playfair text-right">Publish Prolifically</h2>
      <h5 class="text-right login-copy">
        Register today to enjoy our comprehensive publication manage system. Erdos enables you to share your papers with your editors and peers. Our easy-to-use interface makes the process of publication more pleasurable. See you on the other side!
      </h5>
      <img class="resize-register" src="{% static 'images/dashboard.png' %}">
    </div>  
  </div>     
{% endblock %}