{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block body_block %}
  <div class="row">
    <div class="col-6">
      {% if registered %}
        <strong>Thank you for registering.</strong>
        <a href="/article/">Return to the homepage.</a>
      {% else %}
      <h1>Register</h1>
      <form id="user_form" method="post" action="/article/register/">
        {% csrf_token %}
        {{ user_form.as_p }}
        <input type="submit" value="Register" />
      </form>  
    </div>
    {% endif %}
    
    <div class="col-6 login-copy-div">
      <h2 class="playfair text-right">Publish Prolifically</h2>
      <h5 class="text-right login-copy">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos placeat natus fuga recusandae delectus atque quis itaque at explicabo maxime, repellat voluptatem officiis molestias rerum nisi obcaecati, eveniet? Perferendis totam, est esse id tempora accusamus maxime illo provident sit cupiditate aliquam cumque, quod numquam libero saepe! Quis quidem repellat libero!
      </h5>
    </div>  
  </div>     
{% endblock %}